<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="negativeMargin.css">
    <title>Layout</title>
</head>
<body>
<header>
    <div id="logo">
        <span>Logo</span>
    </div>
    <div id="user">
        <span>User</span>
    </div>
</header>
<div id="main">
    <section id="content">
        <p>宽度自适应</p>
    </section>
    <aside id="aside">
        <p>宽度200px</p>
    </aside>
</div>
<footer>
    <span>footer</span>
</footer>
</body>
</html>